.body{
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.main{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.form{
    border: 2px solid white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.formControl{  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input{
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
}

.label{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.button{
    background-color: #FFEB01;
    color: #0070f3;
    text-align: center;
    /* width: 75%; */
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.inputErrorControl{
    display: flex;
    flex-direction: column;
}