

@media only screen and (max-width: 1150px) {
    .home{
        display: flex;
        flex-direction: column;
    }

    .sideA{
        margin-left: auto;
        margin-right: auto;
    }
    .mainText{
        font-size: 36px;
        text-align: center;
        line-height: 50px;
    }
    
    .subText{
        text-align: center;
        color: #fff;
    }
    
    .mainButton{
        background-color: #FFEB01;
        color: #0070f3;
        text-align: center;
        width: 75%;
        max-width: 300px;
        padding: 20px 5px 20px 5px;
        border-radius: 15px;
        cursor: pointer;
        font-size: large;
        font-weight: bold;
    }
    .buttonWrap{
        display: flex;
        justify-content: center;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .homeImage{
        margin-left: auto;
        margin-right: auto;
    }
    .sideB{
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 1150px) {
    .home{
        display: flex;
        justify-content: space-around;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        padding-left: 200px; 
        /* background-color: #0070f3; */
        background-color: #0088DD;
        color: blanchedalmond;
        height: 100vh;
        padding-top: 50px;
    }
    
    .sideA{
        width: 429px;
    }
    
    .mainText{
        font-size: 36px;
        text-align: right;
        line-height: 50px;
    }
    
    .subText{
        text-align: right;
        color: #fff;
    }
    
    .mainButton{
        background-color: #FFEB01;
        color: #0070f3;
        text-align: center;
        width: 75%;
        padding: 20px 5px 20px 5px;
        border-radius: 15px;
        cursor: pointer;
        font-size: large;
    }
    
    .buttonWrap{
        display: flex;
        justify-content: flex-end;
        margin-top: 55px;
    }
    
    .right{
        margin-left: 20px;
    }
    .homeImage{
        margin-left: 20px;
        min-width: 680px;
        min-height: 457px;
        /* margin-top: 50px; */
    }

    .sideB{
        margin-left: 50px;
        margin-top: 30px;
    }
}

