
.services{
    /* height: 100vh; */
    /* padding-top: 100px ; */
}

@media only screen and (max-height: 500px){
    .services{
        padding-top: 25vh;
        min-height: 700px;
    }
}

@media only screen and (min-height: 500px) {
    .services{
        /* padding-top: 200px; */
        padding-top: 10vh;
        min-height: 1000px;
    }
}

@media only screen and (min-height: 850px) {
    .services{
        padding-top: 55px;
    }
}

@media only screen and (max-width: 500px) {
    .description{
        display: none;
    }
}
@media only screen and (max-width: 820px) {
    .services{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* align-items: flex-start; */
        /* padding-top: 30px; */
        font-family: 'Roboto', 'Sans Serif';
    }
    .showImages{
        display: none;

        /* background-color: red; */
    }
    .sideB{
        display: none;
    }

    .imageList{
        display: none;
    }

    .imageCarousel{
        display: block;
        /* margin-top: -140px; */
    }
    .carouselImage{
        border: 4px solid yellow;
        margin-bottom: 20px;
    }
    .descriptionContainer{
        background-color: #C4C4C4;
        padding: 1px 40px 20px 40px;
        border-radius: 20px;
        font-size: 16px;
        line-height: 25px;
        /* margin-top: 20px; */
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    .title{
        font-weight: bold;
        font-size: 34px;
        line-height: 35px;
    }
    .mainButton{
        background-color: #FFEB01;
        color: #0070f3;
        text-align: center;
        width: 55%;
        padding: 20px 5px 20px 5px;
        border-radius: 15px;
        cursor: pointer;
        font-size: large;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold;
    }
    
}
@media only screen and (min-width: 820px) {
    .imageCarousel{
        display: none;
    }
    .services{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* align-items: center; */
        padding-top: 50px;
        font-family: 'Roboto', 'Sans Serif';
    }

    .showImages{
        /* display: flex; */
        /* flex-direction: row; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* margin-top: -75px; */
        margin-bottom: -150px;
    }
    .descriptionContainer{
        background-color: #C4C4C4;
        padding: 20px 40px 20px 40px;
        border-radius: 20px;
        font-size: 18px;
        line-height: 25px;
        /* margin-top: -90px; */
        /* width: 550px; */
    }
    .title{
        font-weight: bold;
        font-size: 34px;
    }
    .mainButton{
        background-color: #FFEB01;
        color: #0070f3;
        text-align: center;
        width: 55%;
        padding: 20px 5px 20px 5px;
        border-radius: 15px;
        cursor: pointer;
        font-size: large;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold;
    }
}
@media only screen and (min-width: 1200px) {
    .imageCarousel{
        display: none;
    }
    .services{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 50px;
        font-family: 'Roboto', 'Sans Serif';
    }
    
    .description{
        /* width: 300px; */
    }
    
    .descriptionContainer{
        background-color: #C4C4C4;
        padding: 20px 40px 20px 40px;
        border-radius: 20px;
        font-size: 18px;
        line-height: 25px;
        width: 550px;
    }
    
    .title{
        font-weight: bold;
        font-size: 34px;
    }
    
    .mainButton{
        background-color: #FFEB01;
        color: #0070f3;
        text-align: center;
        width: 75%;
        padding: 20px 5px 20px 5px;
        border-radius: 15px;
        cursor: pointer;
        font-size: large;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold;
    }
    .showImages{
        /* display: flex; */
        /* flex-direction: row; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 0px;
    }
}


